.items-container {
    height: 100%;
    width: 100%;
    padding-top: 20px;
    padding-left: auto;
    margin-top: 40px;
    background-color: #fafafa;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.items-type {
    font-weight: 500;
    margin-left: 20px;
    color: #9f72cd;
}

.items-cards-container { 
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    column-gap: 10px;
    flex-wrap: wrap;
}
