.btn {
    background-color: #CF9FFF;
    color: #ffffff;
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;
    box-shadow: 5px 5px 8px #e5e5e5;
}

.btn h3 {
    font-weight: 200;
}

.btn:hover {
    cursor: pointer;
    color: #9f72cd;
    background-color: #ffffff;
    border: #9f72cd 1px solid;
}