* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  font-family: "Poppins", sans-serif;
  /* max-width: 100%;
  overflow-x: hidden; */
   /* overflow-y: scroll;
  overflow-x: hidden; */
}